VCProjects/Demos/SimpleApplication/Debug/
VCProjects/Demos/SimpleApplication/Release/
VCProjects/Demos/SimpleAnimation/Debug/
VCProjects/Demos/SimpleAnimation/Release/
VCProjects/Engine/Debug/
VCProjects/Engine/Release/
VCProjects/Exporter/Debug/
VCProjects/Exporter/Release/
VCProjects/Platforms/Windows/Debug/
VCProjects/Platforms/Windows/Release/
Make/Release/
*.lib
*.suo
